# 시계열 관련 NumPy 및 Pandas 기능

- dataframe with a datetime index  

- simple time series 시각화 

## Key Data Types for Time Series Data
### Key NumPy data types:
1. Array - shape, max/min, argmax/argmin, sum, cumsum, mean, var, std, prod, cumprod, etc.

2. datetime64

3. timedelta64

### Key Pandas data types:
1. Series  
2. DataFrame  
3. Index

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from datetime import timedelta

## python, numpy, pandas 날짜 타입 비교 및 정리

|라이브러리|날짜, 시간 클래스| 타임델타 클래스|
|-------|-------------|-------------|
|datatime|datetime, date, time|timedelta|
|numpy|datetime64|timedelta64|
|panads|Timestamp|Timedelta|

- datetime은 python 설치 시 기본적으로 내장된 라이브러리로, 날짜를 쓸 것인지, 시간을 쓸 것인지, 날짜시간을 합쳐쓸 것인지에 따라 클래스가 분화되어 있는 것이 특징. 예를들어 '2021-3-16'을 표시하고 싶으면 date 클래스를 사용하고, '2021-3-16 12:34:21'를 표시하고 싶으면 'datetime' 클래스를 사용.  

- datetime64나 Timestamp는 각각 numpy, pandas 라이브러리에서 새로 정의한 날짜시간 클래스. 이 둘은 numpy, pandas를 설치해야만 이용할 수 있고, 한 클래스로 날짜, 시간, 날짜시간을 모두 정의할 수 있는 것이 특징.

In [2]:
#날짜 데이터 정의 - python 
import datetime
#날짜
print(datetime.date(2022, 5, 1))
#날짜 + 시간
print(datetime.datetime(2022, 5, 1, 15, 30, 45))

2022-05-01
2022-05-01 15:30:45

In [3]:
#날짜 데이터 정의 - numpy
import numpy as np 
#날짜
print(np.datetime64('2022-05-01'))

2022-05-01

In [4]:
#날짜 데이터 정의 - pandas 
import pandas as pd 
#날짜
print(pd.Timestamp(2022, 5, 1)) 
#날짜 + 시간
print(pd.Timestamp(year=2022, month=5, day=1, hour=12, minute=30))

2022-05-01 00:00:00
2022-05-01 12:30:00

## Pandas 의 Timestamp 처리

In [5]:
df = pd.read_excel("datasets/Sample - Superstore.xls")
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [6]:
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2013-138688,2013-06-13,2013-06-17,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

###  시계열 데이터 단순화

- 주문 날짜 및 범주별 총 판매액으로 data 를 단순화  

- 인덱스를 재설정하지 않으면 Pandas가 그룹 변수를 인덱스로 설정합니다.

In [7]:
group_variables =  ['Order Date', 'Category']
outcome_variable =  ['Category', 'Sales']
base = df.groupby(group_variables)
base.sum().head()

                            Row ID  Postal Code     Sales  Quantity  Discount  \
Order Date Category
2011-01-04 Office Supplies    7981        77095    16.448         2       0.2
2011-01-05 Office Supplies    2223       181620   288.060         8       1.2
2011-01-06 Office Supplies    1760        19143    19.536         3       0.2
2011-01-07 Furniture          7475        42420  2573.820         9       0.0
           Office Supplies   42423       290334   685.340        15       0.0

                              Profit
Order Date Category
2011-01-04 Office Supplies    5.5512
2011-01-05 Office Supplies  -65.9901
2011-01-06 Office Supplies    4.8840
2011-01-07 Furniture        746.4078
           Office Supplies  293.8612

In [8]:
base = df.groupby(group_variables)[outcome_variable].sum().reset_index()
base.head()

  Order Date         Category     Sales
0 2011-01-04  Office Supplies    16.448
1 2011-01-05  Office Supplies   288.060
2 2011-01-06  Office Supplies    19.536
3 2011-01-07        Furniture  2573.820
4 2011-01-07  Office Supplies   685.340

In [9]:
print("base 데이터프레임의 columns:", base.columns)
print("base 데이터프레임의 index:", base.index)

base 데이터프레임의 columns: Index(['Order Date', 'Category', 'Sales'], dtype='object')
base 데이터프레임의 index: RangeIndex(start=0, stop=2864, step=1)

In [10]:
base.dtypes

Order Date    datetime64[ns]
Category              object
Sales                float64
dtype: object

### Numpy 의 datetime64 format

NumPy 날짜 배열은 ns(나노초) 단위의 datetime64 객체입니다. 

내부 저장 단위는 문자열 형태에서 자동으로 선택되며 날짜 단위 또는 시간 단위가 될 수 있습니다. 날짜 단위는 년('Y'), 월('M'), 주('W'), 일('D')이고 시간 단위는 시('h'), 분('m'), 초('s'), 밀리초('ms') 입니다.

In [11]:
order_date = base['Order Date'].values
order_date

array(['2011-01-04T00:00:00.000000000', '2011-01-05T00:00:00.000000000',
       '2011-01-06T00:00:00.000000000', ...,
       '2014-12-31T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2014-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [12]:
order_date_daily = np.array(order_date, dtype='datetime64[D]')
order_date_daily

array(['2011-01-04', '2011-01-05', '2011-01-06', ..., '2014-12-31',
       '2014-12-31', '2014-12-31'], dtype='datetime64[D]')

In [13]:
order_date_monthly = np.array(order_date, dtype='datetime64[M]')
order_date_monthly

array(['2011-01', '2011-01', '2011-01', ..., '2014-12', '2014-12',
       '2014-12'], dtype='datetime64[M]')

In [14]:
np.unique(order_date_monthly)

array(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
       '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
       '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
       '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
       '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
       '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
       '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
       '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12'],
      dtype='datetime64[M]')

In [15]:
np.unique(np.array(order_date, dtype='datetime64[Y]'))

array(['2011', '2012', '2013', '2014'], dtype='datetime64[Y]')

## Pandas DatetimeIndex를 이용한 작업

### 기존 변수를 사용하여 인덱스 설정

In [16]:
base['Order Date'].dtype

dtype('<M8[ns]')

In [17]:
base.set_index('Order Date', inplace=True)

base.head()

                   Category     Sales
Order Date
2011-01-04  Office Supplies    16.448
2011-01-05  Office Supplies   288.060
2011-01-06  Office Supplies    19.536
2011-01-07        Furniture  2573.820
2011-01-07  Office Supplies   685.340

In [18]:
base.index

DatetimeIndex(['2011-01-04', '2011-01-05', '2011-01-06', '2011-01-07',
               '2011-01-07', '2011-01-07', '2011-01-08', '2011-01-08',
               '2011-01-10', '2011-01-10',
               ...
               '2014-12-28', '2014-12-29', '2014-12-29', '2014-12-29',
               '2014-12-30', '2014-12-30', '2014-12-30', '2014-12-31',
               '2014-12-31', '2014-12-31'],
              dtype='datetime64[ns]', name='Order Date', length=2864, freq=None)

### Subsetting data

이제 DatetimeIndex가 있으며 이를 사용하여 데이터 하위 집합을 선택할 수 있습니다.

In [19]:
base.loc['2011'].head()

                   Category     Sales
Order Date
2011-01-04  Office Supplies    16.448
2011-01-05  Office Supplies   288.060
2011-01-06  Office Supplies    19.536
2011-01-07        Furniture  2573.820
2011-01-07  Office Supplies   685.340

In [20]:
base[base['Category'] == 'Office Supplies']['2012-01':'2012-02'].head()

                   Category    Sales
Order Date
2012-01-02  Office Supplies  139.080
2012-01-03  Office Supplies   17.424
2012-01-04  Office Supplies   72.240
2012-01-05  Office Supplies  233.688
2012-01-06  Office Supplies   31.538

### Datetime Components

Pandas Datetime 변수에는 여러 가지 유용한 구성 요소가 있습니다. DatetimeIndex를 사용하여 월, 연도, 요일, 분기 등과 같은 항목을 추출할 수 있습니다.

In [21]:
base.index.day

Int64Index([ 4,  5,  6,  7,  7,  7,  8,  8, 10, 10,
            ...
            28, 29, 29, 29, 30, 30, 30, 31, 31, 31],
           dtype='int64', name='Order Date', length=2864)

In [22]:
base.index.dayofweek   # Day of Week: Monday=0, Sunday=6

Int64Index([1, 2, 3, 4, 4, 4, 5, 5, 0, 0,
            ...
            6, 0, 0, 0, 1, 1, 1, 2, 2, 2],
           dtype='int64', name='Order Date', length=2864)

In [23]:
base['DayofWeek'] = base.index.dayofweek
base.head()

                   Category     Sales  DayofWeek
Order Date
2011-01-04  Office Supplies    16.448          1
2011-01-05  Office Supplies   288.060          2
2011-01-06  Office Supplies    19.536          3
2011-01-07        Furniture  2573.820          4
2011-01-07  Office Supplies   685.340          4